@import "variables";
@import '../../bower_components/bootstrap/scss/bootstrap.scss';
@import '../../bower_components/toastr/toastr.scss';
@import '../../bower_components/font-awesome/scss/font-awesome';
@import '../../bower_components/dropzone/dist/dropzone';
@import '../../bower_components/photoswipe/src/css/main';
@import '../../bower_components/photoswipe/src/css/default-skin/default-skin';
@import "animated-radio";
@import './react-select/default';
@import "mixins";

.button-primary {
  padding: 1rem 3rem;
  color: #fff;
}

.button-small {
  padding: 0.5rem 2rem;
  color: #fff;
}

.button-tiny {
  padding: rem(4) rem(6);
  color: #fff;
  font-size: rem(11);
}

.button-orange {
  background-color: #FF7E1A;
}
.button-orange-lighter {
  background-color: #FDB719;
}

#app {
  padding-top: 50px;
  background: #f5f8fa;
  img {
    max-width: 100%;
  }
}

.text-center {
  text-align: center;
}

// Navbar
.navbar {
  padding-top: 2px;
  padding-bottom: 2px;
  background: #fff;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);

  .userblock.logged-in a {
    padding-top: 1px;
    padding-bottom: 0;
    img {
      border-radius: 100%;
    }
  }
}

.user-cover-wrap {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: stretch;
  min-height: rem(200);
  padding-bottom:4rem;
  padding-top: 5rem;
  overflow: hidden;
  @include gradient-vertical(transparent, #000);
  margin-top: -3rem;

  .nav {
    margin-top: 3rem;
    margin-bottom: -3rem;
    .nav-link {
      color: #fff;
      position: relative;
      &.active::after {
        position: absolute;
        content: ' ';
        border-bottom: 8px solid #f5f8fa;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        bottom: -16px;
        left: 50%;
        margin-left: -8px;
      }
    }
  }

  .user-cover {
    position: absolute;
    background-size: cover;
    background-position: center;
    -webkit-filter: blur(30px);
    filter: blur(30px);
    top: -30px;
    bottom: -30px;
    right: -30px;
    left: -30px;
    background-color: #295b84;
  }

  .dark-cover {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    @include gradient-horizontal(transparent, #000);
    opacity: 0.5;
    background-blend-mode: multiply;
  }

  .container {
    z-index: 999;
    width: 100%;
    img {
      border-radius: 100%;
      border: 3px solid #fff;
    }
    span.user-name {
      display: block;
      color: #fff;
      font-weight: bold;
      font-size: rem(30);
    }
  }
}

.modal-content.add-recipe {
  border: none;
  .modal-header {
  }
  .modal-title {
    font-size: 1rem;
  }
  .close {
    font-size: rem(25);
    font-weight: 400;
    span {
      color: #000;
    }
  }
  .form-control-label {
    padding-left: 0;
    padding-right: 0;
    font-size: 80%;
  }
  :-moz-placeholder {
    font-style: italic;
  }
  ::-webkit-input-placeholder {
    font-style: italic;
  }
  textarea {
    font-size: 85%;
  }
  .recipe-submit {
    background: #FF7E1A;
    border: none;
    margin-top: 1rem;
  }
}
.modal-backdrop {
  background: rgba(228, 228, 228, 0.95);
  &.in {
    opacity: 1;
  }
}

.dropzone {
  border-style: dashed;
  background: url(../images/meal-icon.png) no-repeat;
  background-position: center 1rem;
  background-size: 130px;
  margin-top: rem(11);
  padding: 0;
  overflow: hidden;
  .dz-message {
    margin-top: 6rem;
    margin-bottom: 0;
    span {
      font-size: rem(12.5);
    }
  }
  .dz-preview {
    margin: 0;
    .dz-image {
      width: 100%;
      height: auto;
      border-radius: 0;
    }
    .dz-details {
      display: none;
    }
    //.dz-error-mark {
    //  display: none;
    //}
    .dz-error-message {
      left: 60px;
      top: 100px;
      text-align: center;
    }
  }
  .dz-remove {
    position: absolute;
    right: 15px;
    top: 00px;
    z-index: 9999;
    color: #fff;
    font-size: 20px;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.55);
    &:hover {
      text-decoration: none;
    }
  }
}

.collection-grid-item, .recipe-grid-item {
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.07);
  margin-bottom: 1rem;
  .recipe-info {
    padding: rem(10) rem(20);
    .recipe-title {
      line-height: 1.2;
      font-size: rem(14);
      a {
        font-weight: bold;
        color: #111;
      }
    }
    span {
      font-size: rem(12);
      line-height: 1;
      color: #333;
    }

  }
}

.recipe-small-item .recipe-info {
  padding: rem(10);
  padding-bottom: 0;
  .recipe-title {
    margin-bottom: 0;
  }
}
.grid {
  margin: 2rem auto;
  .grid-item, .grid-sizer {
    width: rem(213);
    img {
      width: 100%;
    }
  }
  .gutter-sizer { width: 1rem; }
  .add-recipe-toggle {
    border: 2px dashed #ccc;
    display: block;
    padding-top: 4rem;
    padding-bottom: 3.5rem;
    text-align: center;
    text-decoration: none;
    i, span {
      display: block;
    }
    i {
      color: #aaa;
      font-size: 2.5rem;
    }
    span {
      color: #666;
      font-size: rem(12);
    }
    &:hover {
      text-decoration: none;
    }
  }
}
// Recipe Detail
.recipe-detail {
  color: #757575;
  h2 {
    font-size: 21px;
    font-weight: 300;
    float: left;
  }
  header {
    border-bottom: 1px solid;
    margin: 1rem 0;
  }
  .timing {
    float: right;
    font-size: rem(12);
    i {
      font-size: rem(20);
      color: #ccc;
    }
    & > span {
      padding-left: rem(10);
      span {
        vertical-align: top;
        line-height:rem(20);
      }
    }
  }
  section {
    margin-bottom: 2rem;
  }
  .info {
    h1 {
      font-size: 30px;
      font-weight: bold;
      color: #fff;
      text-shadow: 1px 1px 3px #555;
      margin-bottom: 1rem;
      .edit-recipe-toggle {
        font-size: 12px;
        text-transform: uppercase;
        color: #fff;
        font-weight: 400;
        border-radius: 3px;
        border: 1px solid #fff;
        padding: 3px 5px;
        margin-left: 10px;
        vertical-align: top;
        span {
          vertical-align: top;
        }
        &:hover {
          text-decoration: none;
          box-shadow: inherit;
        }
      }
    }
    p {
      color: #fff;
      text-shadow: 1px 1px 4px #666;
      font-weight: 300;
      margin-bottom: 1rem;
    }
    .counter {
      .item {
        position: relative;
        float: left;
        margin-right: 2rem;
      }
      .bg {
        width: 50px;
        height: 50px;
        background: rgba(#000, 0.4);
        display: block;
        border-radius: 100%;
        text-align: center;
        i {
          line-height: 55px;
          color: #fff;
          font-size: rem(25);
          &.fa-comment {
            line-height: 50px;
          }
          &.spoon {
            background: url(../images/spoon.svg) no-repeat center center;
            width: 50px;
            height: 50px;
            display: block;
          }
        }
      }
      .number {
        font-size: 11px;
        background: #FF7E1A;
        color: #fff;
        padding: 3px;
        border-radius: 100%;
        position: absolute;
        right: -4px;
        bottom: -4px;
        height: 22px;
        min-width: 22px;
        text-align: center;
      }
    }
  }
  .primary, .secondary {
    background: #fff;
    margin-top: -50px;
    border-radius: $border-radius-lg;
  }
  .primary {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
  }
  .secondary {
    padding: 0;
    color: #333;
    background: transparent;
  }
  .actions {
    height: 50px;
    align-items: center;
    margin-left: -2rem;
    margin-right: -2rem;
    border-bottom: 1px solid #eee;
    .col-sm-3 {
      flex: 0 0 20% !important;
    }
    a {
      color: #666;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none !important;
      i {
        font-size: 25px;
        margin-right: 6px;
        &.imadeit {
          background: url(../images/spoon-o.svg) no-repeat;
          width: 25px;
          height: 25px;
        }
      }
      span {
        font-size: 12px;
        font-weight: bold;
        width: 60px;
        line-height: 1;
      }
      &:hover {
        text-decoration: none;
      }
    }
    .like {
      color: #ed3554;
    }
  }
  .ingredients {
    ul {
      font-size: rem(14);
      list-style: square;
      padding: 0 0 0 1rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    li {
      flex: 0 0 30%;
      line-height: 1.8;
    }
  }
  .directions {
    margin-bottom: 0;
    ul {
      counter-reset: section;
      list-style-type: none;
      padding: 0;
    }
    li {
      position: relative;
      padding: 10px 0 10px 40px;
      min-height: 50px;
      font-size: rem(14);
    }
    span.counter {
      position: absolute;
      left: 0;
      top: 10px;
      font-size: 16px;
      line-height: 30px;
      border-radius: 100%;
      border: 1px solid #ddd;
      width: 30px;
      height: 30px;
      -ms-text-align-last: right;
      text-align: center;
      font-weight: 300;
      &:before {
        content: counter(section);
        counter-increment: section;
      }
    }
    .notes {
      font-size: rem(14);
      h3 {
        font-size: 16px;
        border-top: 1px dotted #ddd;
        padding-top: 10px;
      }
    }
  }
  .i-made-it {
    button {
      span {
        color: #fff;
        font-weight: 300;
        background: url('../images/spoon-o-white.svg') no-repeat;
        padding-left: 2rem;
        line-height: 25px;
        display: block;
      }
    }
  }
}
.userInfo {
  a:hover {
    text-decoration: none;
  }
  .avatar {
    display: block;
    img {
      border: none;
      border-radius: 4px;
      width: 40px;
      height: 40px;
      float: left;
      margin-right: 10px;
    }
    margin-bottom: 1rem;
  }
  span.username {
    color: #fff;
    @include textshadow();
  }
  .date {
    color: #fff;
    padding-left: rem(26);
    @include textshadow();
    i {
      margin-right: 10px;
      font-size: rem(20);
      display: inline-block;
      vertical-align: middle;
      margin-bottom: 10px;
    }
    span {
      font-size: rem(12);
      vertical-align: middle;
      margin-bottom: 10px;
      display: inline-block;
    }
  }
}

.leave-review {
  img {
    border-radius: 100%;
    border: 2px solid #eee;
  }
  & > button {
    margin-left: 0.1rem;
    position: relative;
    padding-left: 3rem;
    &:focus, &:active {
      outline: none !important;
    }
    &:before {
      width: 21px;
      height: 21px;
      position: absolute;
      top: -1px;
      left: -1px;
      content: "";
      background: #fff;
      border-bottom-right-radius: 50%;
    }
    &:after {
      width: 21px;
      height: 21px;
      position: absolute;
      bottom: -1px;
      left: -1px;
      content: "";
      background: #fff;
      border-top-right-radius: 50%;
    }
  }
}

.review-rating {
  .overview {
    border-bottom: 1px dotted #eee;
    padding-bottom: 1rem;
  }
}

.review-item {
  border-bottom: 1px dotted #eee;
  padding: rem(10) 0;

  .col-sm-2 {
    text-align: center;
  }
  .avatar {
    border-radius: 100%;
    border: 2px solid #eee;
    margin-bottom: rem(5);
  }
  .username {
    display: block;
    color: #333;
    font-size: rem(12);
    font-weight: bold;
    text-align: center;
  }
  .meta {
    .rating-score {
      display: inline-block;
      vertical-align: top;
      margin-right: rem(10);
      color: #FFAB6F;
      font-size: rem(20);
      font-weight: 300;
      line-height: rem(20);
      .score {
        font-weight: 500;
        font-size: rem(24);
      }
    }
    .date span {
      font-size: rem(12);
    }
  }
  p {
    font-size: rem(13);
    margin-bottom: rem(5);
  }
  .like {
    i {
      margin-right: 3px;
      font-size: 14px;
      //color: #ed3554;
      color: #666;
    }
    span {
      color: #666;
      line-height: 14px;
      vertical-align: middle;
      display: inline-block;
      font-weight: 400;
      font-size: 12px;
    }
    .liked {
      i {
        color: #ed3554;
        &::before {
          content: "\f004";
        }
      }
    }
  }
}

aside {
  background: #fff;
  padding: 1rem 1rem 2rem;
  border-radius: $border-radius-lg;
  margin-bottom: 1rem;
  .widget-title {
    font-size: rem(22);
    text-transform: uppercase;
    font-weight: 300;
  }
  .read-all {
    color: #333;
    font-size: rem(12);
    text-transform: uppercase;
    float: right;
  }
}
.wg-photo {
  .photo-grid {
    display: flex;
    flex-wrap: wrap;
    a {
      margin-bottom: 10px;
      flex: 0 1 31%;
      margin: 1%;
      img {
        border-radius: $border-radius;
        border: 1px solid #f5f5f5;
      }
    }
  }
}

.side-grid {
  .side-grid-item, .side-grid-sizer {
    width: rem(153);
    img {
      width: 100%;
    }
  }
  .side-gutter-sizer {
    width: rem(12);
  }
}

.circle-img {
  border-radius: 100%;
}

.added-to-collection {
  font-size: rem(13);
  display: flex;
  margin-bottom: rem(10);
  a {
    color: #333;
    font-weight: bold;
  }
  span.action {
    color: #ccc;
  }
  .user {
    img {
      width: rem(30);
      margin-right: rem(10);
    }
  }
  time {
    display: block;
    font-size: rem(11);
    color: #ccc;
  }
}

#dZAddRecipePhoto {
  margin-bottom: 1rem;
}

.pswp__caption__center {
  background: #fff;
  border-radius: $border-radius $border-radius 0 0;
  img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-right: rem(10);
  }
  .info {
    display: inline-block;
    vertical-align: middle;
    .username {
      font-weight: bold;
      color: #333;
    }
    time {
      display: block;
      font-size: rem(11);
      color: #666;
    }
  }
}

.collection-grid-item {
  &:hover {
    text-decoration: none;
  }
  color: #333;
  padding: rem(10) !important;
  h2 {
    font-size: 0.9rem;
    text-align: center;
    margin-bottom: 1rem;
  }
  .big {
    margin-bottom: rem(6);
  }
  .small {
    height: 60px;
    position: relative;
    .placehoder {
      position: absolute;
      top: 0;
      z-index: 0;
    }
    img {
      z-index: 1;
      position: relative;
      width: 31%;
      float: left;
      margin-right: 3.5%;
      &:nth-child(3) {
        margin-right: 0%;
      }
    }
  }
}
.grid .AddCollectionButton .add-recipe-toggle {
  height: rem(310);
  padding-top: rem(100);
  background: #fff;
}

#Collection, #Category {
  padding-top: 1rem;

  header {
    text-align: center;
    h1 {
      font-size: rem(22);
      font-weight: bold;
    }
    p {
      font-size: rem(14);
      font-style: italic;
      color: #666;
    }
  }
}

.collection-counter .item {
  display: inline-block;
  padding: 0 1rem 0.5rem;
  border-right: 1px solid #eee;
  &:last-child {
    border-right: 0;
}
  & > a {
    color: #666;
    i {
      margin-right: rem(3)
    }
    .txt {
      font-size: rem(12);
      font-weight: bold;
      vertical-align: middle;
    }
    &.like, &.followed {
      color: #ed3554;
    }
  }
  .count {
    display: block;
    color: #aaa;
  }
}
.collection-counter {
  border-bottom: 1px solid #eee;
  margin-bottom: 1rem;
}

#Collection {
  &>.container {
    padding-bottom: 1.5rem;
  }
}

#collection-comments {
  .inside {
    background: #fff;
    padding: rem(10);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.07);
    border-radius: $border-radius;
    h2 {
      font-size: rem(15);
      font-weight: 700;
    }
  }
}

#master-comment-form {
  margin-bottom: rem(10);
  textarea {
    font-size: rem(12);
  }
  .btn {
    margin-top: rem(8);
    font-weight: bold;
  }
}

.comment-item {
  border-bottom: 1px solid rgba(238, 238, 238, 0.53);
  padding-bottom: rem(6);
  margin-bottom: rem(6);

  .thumb {
    float: left;
    margin-right: rem(10);
    img {
      border-radius: 100%;
      height: auto;
      width: rem(32);
    }
  }
  .comment-body {
    padding-left: rem(42);
    font-size: rem(12);
    a {
      font-weight: bold;
      color: #333;
      margin-right: rem(6);
    }
    .meta {
      font-size: rem(11);
      color: #999;
    }
  }
  .txt {
    white-space: pre-wrap;
  }
}
.take-me-back {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #ccc;
  z-index: 1040;
}

#Ghim {
  padding: 1rem;
  .col-sm-5 {
    border-right: 1px solid #eee;
  }
  ul {
    list-style: none;
    padding: 0;
  }
  li {
    padding: 10px;
    border-radius: $border-radius;
    position: relative;
    &:hover {
      background: #f5f5f5;
      .ghim-btn {
        display: block;
      }
    }
    img {
      width: 64px;
      border-radius: $border-radius;
      margin-right: 1rem;
    }
  }
  img {
    max-width: 100%;
  }
  h3 {
    font-size: 1rem;
    font-weight: bold;
    margin: 0.8rem 0 1rem;
  }
  .col-sm-7 {
    h3 {
      margin-top: 0;
    }
  }
  p {
    font-size: rem(13);
  }
}
.ghim-btn {
  display: none;
  background: #ed3554;
  border: none;
  border-radius: $border-radius;
  position: absolute;
  right: 1rem;
  color: #fff;
  top: 50%;
  margin-top: -15px;
  span {
    font-size: rem(13);
    font-weight:bold;
    margin-left: 4px;
  }
  &:hover {
    color: #fff;
    text-decoration: none;
    background: darken(#ed3554, 10%);
  }
}
.photo {
  position: relative;
}
.photo:hover {
  .ghim-btn {
    display: block;
    padding: rem(4) rem(6);
    position: absolute;
    top: 1rem !important;
    margin-top: 0;
    left: 50%;
    right: auto;
    margin-left: -1rem;
  }
}
.owner-only {
  display: inline;
  a {
    text-shadow: 1px 1px 3px #666;
    box-shadow: 1px 1px 3px rgba(102, 102, 102, 0.48);
  }
  .delete-recipe {
    &:hover {
      background: #ed3554;
    }
  }
}

.user-cover-wrap {
  .Breadcrumb {
    margin-top: -1rem;
    margin-bottom: 1rem;
  }
}